html {
    overflow-x: hidden;
}
#selectedMovie{
    position: relative;
    left: 50px;
    top:30px;
    font-size: 100px;
    font-weight: bolder;
}
#movieInfo {
    list-style-type: none;
    font-size: 50px;
    position: relative;
    left: 50px;
    top:30px;
}
#movieTitles {
    list-style-type: none;
    text-align: center;
}
#allMovies{
    position: relative;
    left: 50px;
    top:30px;
    font-size: 100px;
    font-weight: bolder;
}
#addNewMovie {
    animation-duration: 50ms;
}
.card {
    width: 40%;
    top: 50px;
}
#movieTitles a{
    color: black;
}
#editTitle{
    position: relative;
    left: 50px;
    top:30px;
    font-size: 100px;
    font-weight: bolder;
}
#edit-form{
    position: relative;
    left: 50px;
    top:30px;
}